.side{
    background-color: v.$light-secondary;
    height: 100%;
    width: 100%;
    min-width: 185px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;


    .container{
        padding: 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        
        .logo{
            width: 32px;
            aspect-ratio: 1;
        }
    }
    .logout{
        display: flex;
        justify-content: center;

    }
}