.side{
    background-color: v.$light-secondary;
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;

    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .logo{
            width: 32px;
            aspect-ratio: 1;
        }
    }
}