.container{
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0.5rem;

        .button{
            font-size: 14px;
            width: 100%;
            padding: 0.5rem;
            // border: none;
            border-style: dashed;
            border-color: rgba(0, 0, 0, 0.5);
            border-width: 1px;
            background-color: transparent;
            color: v.$dark-primary-80;
            opacity: 0.7;
            transition: opacity 0.1s linear;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
        }
    }