.container{
    position: fixed;
    inset: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: fit-content;
    height: fit-content;
    width: 35%;
    min-width: 30rem;
    font-family: var(--font-mulish);
    @include m.overlayMixin;
    user-select:text;


    .card{
        height: auto;
        padding: 1rem 1.5rem 0rem 1.5rem;
        border-radius: 8px;
        background-color: v.$light-primary;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
        height: 25rem;
        
        .cardBefore{
            position: absolute;
            left: -0.5rem;
            z-index: -1;
            top: 0;
            width: calc(0.5rem + 12px);
            height: 100%;
            border-radius: 8px;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
        }

        .header{
            user-select:text;

            width: 100%;
            display: flex;
            align-items: start;
            justify-content: space-between;
            font-size: 1.25rem;
            font-weight: 600;
            gap: 0.5rem;

            >textarea{
                width: 100%;
                height: fit-content;
                overflow: hidden;
                resize: none;
                border: 0;
                outline: 0;
                line-height: 1.4;
    
                font-size: 1.25rem;
                font-weight: 600;
                user-select: text;
            }
            button.favorite{
                all:unset;
                display: flex;
                align-items: center;
                opacity: 0.8;
                transition: opacity 0.1s linear;
                margin-top: 0.5rem;
                cursor: pointer;
                &:hover{opacity: 1;}
            }
        }
        .content {
            width: 100%;
            height: 100%;         
            position: relative;
            overflow: hidden;    
            --fade: 3rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0; right: 0;
                height: var(--fade);
                pointer-events: none;
                z-index: 2;
            }

            &::before {
                top: 0;
                background: linear-gradient(to bottom, v.$light-primary, transparent);
            }
            // &::after {
            //     bottom: 0;
            //     background: linear-gradient(to top, v.$light-primary, transparent);
            // }
            .textarea {
                width: 100%;
                height: 100%;
                overflow: visible;
                resize: none;
                border: 0;
                outline: 0;
    
                white-space: pre-wrap;
                font-weight: 500;
                font-size: 0.9rem;
                user-select: text;
    
                padding-top: 2rem;
                padding-bottom: 1rem;
                padding-right: 2rem;
                
                &::-webkit-scrollbar { width: 6px; }
                &::-webkit-scrollbar-track {
                    background: transparent;
                    margin-top: 2rem;
                    margin-bottom: 1rem;
                }
                &::-webkit-scrollbar-thumb {
                    background: rgba(0, 0, 0, 0.2);
                    border-radius: 3px;
                }
                &::-webkit-scrollbar-thumb:hover { background: rgba(0, 0, 0, 0.3); }
            }


        }
        .sync{
            // outline: 1px solid red;
            position: absolute;
            right: 0.3rem;
            bottom: -0.2rem;
            svg{
                opacity: 0.8;
            }
        }

    }
}