

.container {
    position: fixed;
    inset: 0;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 45%;
    min-width: 30rem;
    font-family: var(--font-mulish);
    @include m.overlayMixin;
    user-select: text;
    

    .card {
        padding: 1rem 1.5rem 0rem 1.5rem;
        border-radius: 8px;
        background-color: v.$light-primary;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;

        box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.1);
        height: 25rem;
        min-height: 0;

        .cardBefore {
            position: absolute;
            left: -0.5rem;
            z-index: -1;
            top: 0;
            width: calc(0.5rem + 12px);
            height: 100%;
            border-radius: 8px;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
        }

        .header {
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 600;
            gap: 0.5rem;
            max-height: 4rem;
            overflow: auto;
            opacity: 0.8;
            cursor: default;
            &::-webkit-scrollbar { width: 6px; }
            &::-webkit-scrollbar-track {
                background: transparent;
            }
            &::-webkit-scrollbar-thumb {
                background: rgba(0, 0, 0, 0.2);
                border-radius: 3px;
            }
            &::-webkit-scrollbar-thumb:hover { background: rgba(0, 0, 0, 0.3); }

            > textarea {
                width: 100%;
                overflow: hidden;
                resize: none;
                border: 0;
                outline: 0;
                line-height: 1.4;
                font-size: 1.25rem;
                font-weight: 600;
                user-select: text;
            }

            button.favorite {
                all: unset;
                display: flex;
                align-items: center;
                opacity: 0.8;
                transition: opacity 0.1s linear;
                margin-top: 0.25rem;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .content {
            width: 100%;
            min-height: 0;
            
            --fade: 3rem;
            margin-top: 0rem;
            margin-bottom: 1rem;
        }

        .sync {
            position: absolute;
            right: 0.3rem;
            bottom: -0.2rem;

            svg {
                opacity: 0.8;
            }
        }
    }
}