.container{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    opacity: 1;
    transition: opacity 0.1s linear;
    cursor: pointer;
    font-size: 1.1rem;
    position: relative;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    &::after{
        content: "";
        position: absolute;
        left: -1.5rem;
        width: calc(100% + 3rem);
        height: 100%;
        background-color: v.$light-primary;
        opacity: 1;
        transition: opacity 0.1s linear;
        box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.02);
    }
   
    input, svg{
        all:unset;
        position: relative;
        z-index: 1;
    }
    input{
        width: 100%;
        text-align: start;
    }
    
}