.container{
    position: absolute;
    inset: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: fit-content;
    height: fit-content;
    width: 30%;
    min-width: 30rem;
    font-family: var(--font-mulish);
    @include m.overlayMixin;

    .card{
        width: 100%;
        height: auto;
        padding: 1rem 1.5rem 1.5rem 1.5rem;
        border-radius: 8px;
        background-color: v.$light-primary;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
        &::before{
            content: "";
            position: absolute;
            left: -0.5rem;
            z-index: -1;
            top: 0;
            width: calc(0.5rem + 12px);
            height: 100%;
            border-radius: 8px;
            background-color: v.$dark-secondary;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
        }

        .header{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.25rem;
            font-weight: 500;
            gap: 0.5rem;
            button{
                all:unset;
                display: flex;
                align-items: center;
                opacity: 0.8;
                transition: opacity 0.1s linear;
                cursor: pointer;
                &:hover{opacity: 1;}
            }
        }
        .options{
            margin-top: 1.5rem;
            display: flex;
            flex-direction: column;
            width: 100%;
            li{
                margin-top: 0.5rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                font-size: 1rem;
                padding: 0.5rem 0rem;
                width: 100%;
                display: flex;
                justify-content: space-between;

                &.title{
                    .value{
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        input{
                            border: none;
                            text-align: right;
                            padding-right: 0.5rem;
                            border-radius: 4px;
                            pointer-events: none;
                            &.active{
                                pointer-events: all;
                                outline: 1px solid black;
                                border: default;
                            }
                        }
                        button{
                            all:unset;
                            display: flex;
                            align-items: center;
                            opacity: 0.5;
                            transition: opacity 0.05s linear;
                            cursor: pointer;
                            &:hover, &.active{
                                opacity: 1;
                            }
                        }
                    }
                }
                &.color{
                    .value{
                        button{
                            all:unset;
                            opacity: 0.8;
                            cursor: pointer;
                            transition: opacity 0.05s linear;
                            border-radius: 50%;
                            width: 1.1rem;
                            height: 1.1rem;
                            &:hover{
                                opacity: 1;
                            }
                        }
                    }
                }
                &.countElement{
                    .value{
                        display: flex;
                        gap: 0.75rem;
                        button{
                            all:unset;
                            opacity: 0.3;
                            transition: opacity 0.1s linear;
                            cursor: pointer;
                            &.active{opacity: 1;}
                            &:hover{opacity: 1;}
                        }
                    }
                }
            }
        }


        .footer{
            margin-top: 2.75rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            button{
                border: none;
                background-color: transparent;
                opacity: 0.7;
                transition: opacity 0.05s linear;
                cursor: pointer;
                &:hover{
                    opacity: 1;
                }
                &.delete{
                    color: v.$state-error-dark;
                }
                &.save{
                    &.active{opacity: 1;}
                    color: v.$state-success;
                }
            }
        }
    }
}