.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    form{
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-top: -10rem;
        >div{
            width: 100%;
            label{
                display: block;
                width: 100%;
                margin-top: 1rem;
                font-size: 1.2rem;
                font-weight: 700;
                font-family: var(--font-anuphan);
                letter-spacing: 2px;
            }
            input{
                width: 100%;
                margin-top: 0.5rem;
                border: none;
                border-radius: 4px;
                outline: 1px solid rgba(0, 0, 0, 0.25);
                font-size: 1.2rem;
                padding: 0.5rem 1rem;
            }
        }
        .submit{
            all:unset;
            margin-top: 2rem;
            font-size: 1.2rem;
            padding: 0.4rem 0rem;
            border-radius: 4px;
            width: calc(100%);
            text-align: center;
            color: white;
            background-color: v.$dark-secondary;
            cursor: pointer;
            transition: background-color 0.1s linear;
            
            &:hover{
                background-color: v.$dark-secondary-75;
            }
        }

    }
}