@keyframes opacity{
    0%{opacity: 1;}
    50%{opacity: 0.3;}
    100%{opacity: 1;}
}

@keyframes opacityIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes opacityOut{
    from{opacity: 1;}
    to{opacity: 0;}
}

@keyframes breath{
    0%{transform: scale(1);}
    50%{transform: scale(1.05);}
    100%{transform: scale(1);}
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@keyframes addListIn {
    from{
        opacity: 0;
        bottom: calc(-80% + 1rem);
    }
    to{
        opacity: 1;
        bottom: calc(-80% - 0.25rem);
    }
}

@keyframes addListOut{
    from{
        opacity: 1;
        bottom: calc(-80% - 0.25rem);
    }
    to{
        opacity: 0;
        bottom: calc(-80% + 1rem);
    }
}