.container{
    width: 100%;
    position: relative;
    font-size: 1rem;
    font-family: var(--font-mulish);



    &.open{
        transition: color 0.1s ease-in-out;
        .menuButton{
            z-index: 2;
            color: white;   
            svg{
                transform: rotate(180deg);
            }
        }
    }
    
    .menuButton{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        all:unset;
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        gap: 0.2rem;
        margin-bottom: 2rem;
        color: v.$dark-secondary;
        opacity: 0.8;
        transition: all 0.15s linear;
        cursor: pointer;
        position: relative;
        &:hover, &.active{
            opacity: 1;
        }
        svg{
            transition: all 0.2s linear;
            margin-top: 0.1rem;
        }
        
    }

    .menu{
        position: absolute;
        color: white;
        bottom: 0;
        background-color: v.$dark-secondary;
        height: fit-content;
        width: 100%;
        padding: 2rem;
        padding-bottom: 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 1rem;
        border-radius: 4px 4px 0px 0px;
        transform: translateY(100%);
        transition: transform 0.3s ease-in-out, opacity 0.2s linear;
        opacity: 0;

        &.active{
            transform: translateY(0);
            opacity: 1;
        }
        button.logout{
            all:unset;
            display: flex;
            gap: 0.5rem;
            align-items: center;
            opacity: 0.8;
            transition: all 0.15s linear;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
        }

    }

    
}