.container{
    width: 100%;
    position: relative;
    font-size: 1rem;
    font-family: var(--font-mulish);



    &.open{
        transition: color 0.1s ease-in-out;
        .menuButton{
            z-index: 2;
            color: white;   
            svg{
                transform: rotate(180deg);
            }
        }
    }

    .indicator{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        transition: opacity 0.1s linear;
        opacity: 1;
        &.hidden{
            opacity: 0;
        }


            .trash{
                color: white;
                display: flex;
                padding: 0.2rem;
                border-radius: 4px;
                position: relative;
                background-color: rgb(64, 69, 89);
                &.yes{

                }
                &.only{
                     background-color: rgba(240, 42, 42, 0.8);
                    .warningIcon{
                        position: absolute;
                        top: 0;
                        right: 0;
                        border-radius: 999px;
                        width: 0.8rem;
                        height: 0.8rem;
                        transform: translate(25%, -25%);
                        color: white;
                    }
                }
            }

        
    }
    
    .menuButton{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        all:unset;
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        gap: 0.2rem;
        margin-bottom: 2rem;
        color: v.$dark-secondary;
        opacity: 0.8;
        transition: all 0.15s linear;
        cursor: pointer;
        position: relative;
        &:hover, &.active{
            opacity: 1;
        }
        svg{
            transition: all 0.2s linear;
            margin-top: 0.1rem;
        }
        
    }

    .menu{
        position: absolute;
        color: white;
        bottom: 0;
        background-color: v.$dark-secondary;
        height: fit-content;
        width: 100%;
        padding: 2rem;
        padding-bottom: 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 1rem;
        border-radius: 4px 4px 0px 0px;
        transform: translateY(100%);
        transition: transform 0.3s ease-in-out, opacity 0.2s linear;
        opacity: 0;

        .indicator{
            margin-left: 0;
            position: absolute;
            left: 50%;
            top: -0.4rem;
            transform: translate(-50%, -100%);
        }

        &.active{
            transform: translateY(0);
            opacity: 1;
        }
        button.action, select.action{
            &:hover, &.active{
                opacity: 1;
            }
        }
        .action{
            all:unset;
            display: flex;
            gap: 0.5rem;
            align-items: center;
            opacity: 0.8;
            transition: all 0.15s linear;
            cursor: pointer;

            &.trash{
                display: flex;
                justify-content: center;
                margin-bottom: 2rem;
                .trashIcons{
                    display: flex;
                    width: 80%;
                    justify-content: space-evenly;
                    outline: 1px solid rgb(98, 98, 98);
                    padding: 0.4rem;
                    border-radius: 4px;
                    background-color: rgba(0, 0, 0, 0.3);
                    >span{
                        display: flex;
                        padding: 0.2rem;
                        border-radius: 4px;
                        position: relative;
                        transition: all 0.1s linear;
                        cursor: pointer;

                        &:hover{
                            opacity: 1;
                            background-color: rgba(255, 255, 255, 0.25);
                            &.warning{
                                background-color: rgb(240, 42, 42, 0.4);
                            }
                        }
                        &.active{
                            opacity: 1;
                            background-color: rgba(255, 255, 255, 0.25);
                            &.warning{
                                background-color: rgb(240, 42, 42, 0.4);
                            }
                        }
                    }
                    >span.no{
                        svg{
                            opacity: 0.5;
                        }
                    }
                    >span.only{
                        >svg{
                            color: rgb(240, 42, 42);
                        }
                        .warningIcon{
                            position: absolute;
                            top: 0;
                            right: 0;
                            border-radius: 999px;
                            width: 0.8rem;
                            height: 0.8rem;
                            transform: translate(25%, -25%);
                            color: white;
                        }
                    }
                }
            }
        }

    }

    
}