.layout{
    width: 100vw;
    height: 100vh;
    background-color: v.$light-secondary;
    color: v.$dark-primary;
    font-family: var(--font-mulish);
}

.page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        margin-top: -7rem;
        width: 50%;
        height: 50%;
        display: grid;
        grid-template-rows: auto 35rem;
        grid-template-columns: 1fr;

        .header{
            display: flex;
            justify-content: space-between;
            .tabs{
                margin-left: 1.5rem;
                display: flex;
                align-items: center;
                gap: 2rem;

                button{
                    border: none;
                    background-color: transparent;
                    font-size: 1.25rem;
                    transition: opacity 0.1s linear;
                    opacity: 0.4;
                    cursor: pointer;
                    &.active{opacity: 1;}
                    &:hover{opacity: 1;}
                }
            }
        }
        .card{
            background-color: v.$light-primary;
            position: relative;
            margin-top: 1rem;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

