.layout{
    width: 100vw;
    height: 100vh;
    background-color: v.$light-secondary;
    color: v.$dark-primary;
    font-family: var(--font-anuphan);
}

.page{
    width: 100%;
    height: 100%;
    background-color: v.$dark-secondary;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1.5fr 1fr;

    .left{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // gap: 10rem;

        .brand{
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: center;
            padding-bottom: 10rem;
            align-items: end;
        }
    }

    .right{
        width: 100%;
        height: 100%;
        background-color: v.$light-secondary;
        display: flex;
        justify-content: center;
        align-items: center;

        
    }


    
}

