.card{
    // position: relative;
    background-color: v.$light-primary;
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 70%;
    gap: 4rem;

    .header{
        display: flex;
        justify-content: space-between;
        .tabs{
            margin-left: 1rem;
            display: flex;
            align-items: center;
            gap: 2rem;

            button{
                border: none;
                background-color: transparent;
                font-size: 1.25rem;
                transition: opacity 0.1s linear;
                opacity: 0.4;
                cursor: pointer;
                &.active{opacity: 1;}
                &:hover{opacity: 1;}
            }
        }
    }

    .form{
        padding-left: 4rem;
        padding-right: 4rem;
    }
}


.container{
    display: flex;
    flex-direction: column;

    .row{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 1rem;
        position: relative;

        label{
            font-size: 1rem;
        }
        input{
            border: 1px solid rgba(0, 0, 0, 0.1);
            background-color: v.$light-secondary-50;
            padding: 4px 8px;
            width: 22rem;
            transition: border 0.1s linear;
            border-radius: 0.25rem;
            &::placeholder{
                color: v.$dark-primary-40;
            }
            &:hover{
                border: 1px solid rgba(0, 0, 0, 0.2);
            }
            &:focus{
                outline: none;
                border: 1px solid rgba(0, 0, 0, 0.4);
            }
            &.error{
                outline: 1px solid v.$state-error;
            }
        }
        .forgot{
            margin-top: 4px;
            text-align: end;
            button{
                visibility: hidden;
                color: v.$blue-primary;
                border: none;
                background-color: transparent;
                padding: 0;
                cursor: pointer;
                opacity: 0.7;
                transition: opacity 0.1s linear;
                &:hover{
                    opacity: 1;
                }
            }
        }
        .show{
            position: absolute;
            right: 4px;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.7;
            cursor: pointer;
        }

        &.submit{
            margin-top: 1.5rem;
            
            button{
                border: none;
                border-radius: 0.25rem;
                background-color: v.$dark-secondary;
                color: v.$light-secondary;
                padding: 0.25rem;
                font-size: 1.25rem;
                cursor: pointer;
                transition: all 0.08s linear;
                &:hover, &:focus{
                    outline: 1px solid v.$dark-secondary;
                    background-color: v.$light-primary;
                    color: v.$dark-secondary;
                }
            }
        }
        
    }
}