.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1{
        position: absolute;
        top: 4rem;
        left: 50%;
        transform: translateX(-50%);
        width: 30%;
        display: flex;
        margin-bottom: 3rem;
        font-size: 1.5rem;
        justify-content: center;
        color: v.$dark-primary-80;
        letter-spacing: 2px;
    }
    
    form{
        width: 30%;
        gap: 1rem;
        margin-top: -10rem;
        label{
            margin-top: 1rem;
            font-size: 1.2rem;
            font-weight: 700;
            font-family: var(--font-anuphan);
            letter-spacing: 2px;
            color: v.$dark-primary-80;
            
        }
        input{
            margin-top: 0.5rem;
            width: 100%;
            border: none;
            border-radius: 4px;
            outline: 1px solid rgba(0, 0, 0, 0.25);
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
        }
        .submit{
            all:unset;
            margin-top: 1rem;
            // align-self: end;
            font-size: 1.2rem;
            padding: 0.4rem 0rem;
            border-radius: 4px;
            width: calc(100%);
            text-align: center;
            color: white;
            background-color: v.$dark-secondary;
            cursor: pointer;
            transition: background-color 0.1s linear;
            
            &:hover{
                background-color: v.$dark-secondary-75;
            }
        }

    }


    a{
        all:unset;
        position: absolute;
        top: 4rem;
        left: 4rem;
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        opacity: 0.8;
        transition: opacity 0.1s linear;
        svg{
            opacity: 0.8;
        }
        &:hover{
            opacity: 1;
            cursor: pointer;
            text-decoration: underline;
            svg{
                opacity: 1;
            }
        }
    }
}