

    button.action{
        all:unset;
        display: flex;
        align-items: center;
        &.template{
            opacity: 0.3;
            margin-bottom: 2px;
            &:hover{
                opacity: 0.4;
            }
            &.active{
                opacity: 1;
                color: #1971B8;
            }

        }
        &.checkable {
            padding-bottom: 0.1rem;
            
        }
        &.favorite{
            padding-bottom: 0.1rem;
        }
        svg{
            opacity: 0.8;
            fill:v.$dark-primary-80;
            transition: opacity 0.1s linear;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
        }
    }
