.container{
    all:unset;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15),
                0px 2px 2px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: v.$light-primary;
    position: relative;
    transition: box-shadow 0.1s linear, opacity 0.2s linear;
    cursor: pointer;
    scroll-margin-bottom: 1rem;

    &.onSelect{
        opacity: 0.3;
        &.select{
            opacity: 1;
        }
    }
    
    &:hover{
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15),
                    0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .color{
        position: absolute;
        top: -0.5rem;
        left: 0;
        width: 100%;
        height: 1rem;
        background-color: #FFBA60;
        border-radius: 4px;
        z-index: 0;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
    }

    .header{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        border-radius: 4px;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
        background-color: rgb(250, 248, 245);
        z-index: 1;

        .left{
            display: flex;
            align-items: center;
            gap: 1rem;

            .tasksCount{
                opacity: 0.5;
            }
        }
        .right{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            button{
                all:unset;
                display: flex;
                align-items: center;
                &.favorite{
                    padding-bottom: 0.1rem;
                }
                svg{
                    opacity: 0.8;
                    fill:v.$dark-primary-80;
                    transition: opacity 0.1s linear;
                    cursor: pointer;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }
    

    .taskContainer{
        margin: 1rem 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        li.task{
            border-radius: 0.25rem;
            display: flex;
            justify-content: end;
            opacity: 0.8;
            transition: all 0.1s linear;
            cursor: pointer;
            &:hover{
                opacity: 1;
                .content{
                    background-color: rgb(250, 248, 245, 0.95) !important;
                }
            }
            .content{
                padding: 0.5rem;
                height: 100%;
                width: calc(100% - 0.5rem);
                border-radius: 0 0.25rem 0.25rem 0;
                background-color: rgb(250, 248, 245);
            }
        }
    }
}