.page{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;

    .side{
        background-color: v.$light-secondary;
        height: 100%;
        width: 100%;
        padding: 1.5rem;
        display: flex;
        justify-content: center;

        .container{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .logo{
                width: 32px;
                aspect-ratio: 1;
            }
        }
    }
    .content{
        background-color: v.$light-primary;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}