@use 'abstracts' as *;  // Import toutes les abstracts
@use 'base/reset';




.Toastify__toast {
  background: $toast-background !important;
  color: $toast-text !important;
  max-width: 40rem;
  width: fit-content;
  padding: 1rem 1rem;
  padding-right: 3rem;
  font-size: 0.95rem;
}

.Toastify__close-button {
    margin-left: 3rem;
    opacity: 0.5 !important;
    color: $toast-close !important;
    &:hover {
        opacity: 1 !important;
    }
}

.Toastify__progress-bar {
  background-color: $toast-progress !important;
}

.Toastify__progress-bar--bg {
  background-color: $toast-progress-80 !important;
}

.Toastify__toast-icon {
  margin-right: 1.5rem;
  transform: scale(0.9);
  color: $toast-error !important;
}