.container{
    display: flex;
    justify-content: end;
    transition: all 0.1s linear;
    cursor: pointer;
    border-radius: 0.25rem 0.5rem 0.5rem 0.25rem;
    position: relative;
    // outline: 1px solid red;
    &:hover{
        .content{
            opacity: 1;
        }
        .content{
            background-color: rgb(250, 248, 245, 0.95) !important;
        }
    }
    .content{
        padding: 0.5rem;
        height: 100%;
        width: calc(100% - 0.5rem);
        border-radius: 0 0.25rem 0.25rem 0;
        background-color: rgb(250, 248, 245);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;

        .favorite{
            margin-top: 0.1rem;
            align-self: flex-start;
        }
        .delete{
            margin-top: 0.1rem;
            align-self: flex-start;
        }
        .detail{
            opacity: 0.8;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            justify-content: flex-start;
            width: 100%;

            .icon{
                display: flex;
                width: fit-content;
            }
        }
        
        .button{
            all:unset;
            padding: 0.1rem;
            height: fit-content;
            display: flex;
            // align-items: center;
            padding: 0;
            transition: opacity 0.15s linear;
            visibility: hidden;
            align-self: flex-start;
            &.visible{
                visibility:visible;
            }
            &.active{
                opacity: 1;
                visibility:visible;
            }
            &.delete{
                margin-top: 0.1rem;
                align-self: flex-start;
                color: v.$state-error-dark;
                opacity: 0.2;
                &:hover{
                    opacity: 0.6;
                }
            }
            &.favorite{
                margin-top: 0.1rem;
                align-self: flex-start;
                opacity: 0.8;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}