.container{
    display: flex;
    justify-content: end;
    opacity: 1;
    transition: all 0.1s linear;
    cursor: pointer;
    border-radius: 0.25rem 0.5rem 0.5rem 0.25rem;
    position: relative;
    // outline: 1px solid red;
    outline: 1px solid rgba(0, 0, 0, 0.15);
    .content{
        padding: 0.5rem;
        height: 100%;
        width: calc(100% - 0.5rem);
        border-radius: 0 0.25rem 0.25rem 0;
        background-color: rgb(250, 248, 245, 0.95);
        min-height: 2.5rem;
        display: flex;
        align-items: center;
        textarea{
            all:unset;
            width: 100%;
            height: fit-content;
            cursor:text;
            resize: none;
            overflow: hidden;
        }
    }

    .indicator{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -1.6rem;
        opacity: 0;
        transition: opacity 0.05s linear;
        &.active{
            opacity: 0.8;
        }
    }
}