.container{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: start;
    gap: 0.5rem;
    transition: opacity 0.1s linear;
    cursor: pointer;
    font-size: 1.1rem;
    position: relative;
    // outline: 1px solid blue;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;

    &::after{
        content: "";
        position: absolute;
        left: -1.5rem;
        top: -0.05rem;
        width: calc(100% + 3rem);
        height: 100%;
        background-color: v.$light-primary;
        opacity: 0;
        transition: opacity 0.1s linear;
    }
    &:hover, &.active{
        opacity: 1;
        &::after{
            opacity: 1;
        }
    }

    .icons{
        // outline: 1px solid red;
        margin-top: 0.24rem;
        height: fit-content;
        height: 100%;
        display: flex;
        position: relative;
        z-index: 1;
        svg{
            z-index: 1;
            min-width: 18px;
        }

        .favorite{
            position: absolute;
            right: 100%;
            top: -20%;
            display: flex;
            align-items: center;
            height: fit-content;
        }
    }
    .title{
        text-align: start;
    }
    .title, .icons, svg{
        position: relative;
        z-index: 1;
    }
    .indicator{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -3rem;
        height: 100%;
        padding-top: 0.1rem;
        padding-bottom: 0.4rem;
        opacity: 0;
        transition: opacity 0.05s linear;
        &.active{
            opacity: 0.8;
        }
        svg>path{
            fill: v.$dark-primary-80;
        }
    }
    .options{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -1rem;
        margin-top: 0.20rem;
        div{
            all:unset;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        svg>g{
            opacity: 0.6;
            fill: v.$dark-primary-80;
        }
        &:hover{
            svg>g{
                opacity: 1;
                fill: v.$dark-primary-80;
            }
        }
    }
}