.container{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: start;
    gap: 0.5rem;
    opacity: 0.7;
    transition: opacity 0.1s linear;
    cursor: pointer;
    font-size: 1.1rem;
    position: relative;
    // outline: 1px solid blue;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    &::after{
        content: "";
        position: absolute;
        left: -1.5rem;
        top: -0.05rem;
        width: calc(100% + 3rem);
        height: 100%;
        background-color: v.$light-primary;
        opacity: 0;
        transition: opacity 0.1s linear;
    }
    &:hover{
        opacity: 1;
        &::after{
            opacity: 1;
        }
    }
    svg{
        margin-top: 0.26rem;
        min-width: 18px;
    }
    span{
        text-align: start;
    }
    span, svg{
        position: relative;
        z-index: 1;
    }
    .indicator{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -3rem;
        height: 100%;
        opacity: 0;
        transition: opacity 0.05s linear;
        &.active{
            opacity: 1;
        }
        svg>path{
            fill: v.$dark-primary-80;
        }
    }
    .options{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -1rem;
        div{
            all:unset;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        svg>g{
            opacity: 0.6;
            fill: v.$dark-primary-80;
        }
        &:hover{
            svg>g{
                opacity: 1;
                fill: v.$dark-primary-80;
            }
        }
    }
}